<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Duck Sign Up</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

	<div id="pageTitleBar">
		<h1>Duck Enrollment</h1>
	</div>

	<div>
		<p>Click the "Record Voice" Button to record your voice</p>
		<form method="post" onsubmit="setRecordingStatus()">
			<input id="recordVoiceButton" type="submit" name="enrollVoice" value="Click To Record your Voice">
		</form>
		<span>{{numberOfTimesEnrolled}}</span>
		<br/>
		<br/>
		<p id="recordingStatus">Not Recording...</p>
		<br/>
		<br/>
		<span>Say, "Hey Duck, entering!"</span>
	</div>

	<script type="text/javascript">
        var demo = String({{data.recordingAudio}});
        console.log(demo);
        var recordingStatus = document.getElementById('recordingStatus');
        
        
        function resetRecordingStatus(){
        	recordingStatus.innerHTML = "Not Recording..."
        	console.log(recordingStatus)
        }

        function setRecordingStatus(){
        	recordingStatus.innerHTML = "Recording..."
        	console.log(recordingStatus)
        	setTimeout(resetRecordingStatus, 7000)
        }

        
     </script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>