<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Duck Sign Up</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

	<div class="pageTitleBar">
		<h1>Duck Enrollment</h1>
	</div>

	<div id = "center">
		<p id="step1">Click the Button to record your voice</p>
		
		<p>Directions: Record your voice saying, "Hey Duck I'm Entering" 3 times. After that record your voice saying "Hey Duck I'm Leaving" 3 times. Once you're one you'll be redirected to the final step :) </p>

		<p>Say, "Hey Duck I'm Entering!"</p>
		<form id="enteringEnrollmentForm" method="post" onsubmit="setRecordingStatus()">
				<input id="recordVoiceButton" type="submit" name="enrollVoice" value="Click to Record" >
		</form>

		
		<p>Say, "Hey Duck I'm Leaving!"</p>
		<form method="post" onsubmit="setRecordingStatus()">
				<input id="recordVoiceButton" type="submit" name="enrollVoice" value="Click to Record">
		</form>
	

		<p>{{numberOfTimesEnrolled}}</p>

		<br/>
		<br/>
		<p id="recordingStatus">Not Recording...</p>
		<br/>
		<br/>
	</div>
	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
	
	<script type="text/javascript">
		var numberOfTimesEnrolled = 6
		var demo = String({{data.recordingAudio}});
		console.log(demo);
		var recordingStatus = document.getElementById('recordingStatus');

		window.onload = function(){ 
			recordingStatus.innerHTML = "Not Recording..."
			console.log(recordingStatus)
		}

		function setRecordingStatus(){

			recordingStatus.innerHTML = "Recording..."
			console.log(recordingStatus)

		}

	</script>
</body>
</html>