<!doctype html>
<html>
<head>
	<title>Duck Sign Up</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div id="pageTitleBar">
		<h1>Duck Enrollment</h1>
	</div>
	<form method="post">
		<input type="text" name="first-name" placeholder="First Name" required>
		<br/>
		<input type="text" name="last-name" placeholder="Last Name" required>
		<br/>
		<input type="submit" name="recordVoice" value="Record your Voice"/>
		<input type="submit" name="enrollAudio" value="Enroll Audio"/>
	</form>
</body>
</html>